{{ "<!-- About -->" | safeHTML }}
<section id="about" >
  <div class="container spacer">
    <div class="row">
      <div class="col-lg-12 ">
        <h2 class="section-heading text-center">{{ with .Site.Params.about.title }}{{ . }}{{ end }}</h2>
        <p class="large text-muted">{{ with .Site.Params.about.subtitle }}{{ . | markdownify }}{{ end }}</p>
      </div>
    </div>
  </div>

  <div class="container">

    {{ range .Site.Params.about.row }}
      <div class="row ">
        {{ range .list }}
          <div class="col-md-4 text-center">
            <span class="fa-stack fa-4x">
              <i class="fa fa-circle fa-stack-2x text-primary "></i>
              <i class="fa {{ .icon }} fa-stack-1x fa-inverse"></i>
            </span>
            <h4 class="service-heading">{{ .title | markdownify }}</h4>
            <p class="text-muted text-left">{{ .description | markdownify }}</p>
          </div>
        {{ end }}
      </div>
    {{ end }}
  </div>
</section>
