{{ "<!-- download Grid Section -->" | safeHTML }}
<section id="download" class="bg-light-gray">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading">{{ with .Site.Params.download.download }}{{ . | markdownify }}{{ end }}</h2>
        <h3 class="section-subheading text-muted"><a href='{{ .Site.Params.downloadCommon.releaseNotesURL }}'>{{ with .Site.Params.download.releasenotes }}{{ . | markdownify }}{{ end }}</a> | <a href='{{ .Site.Params.downloadCommon.upgradeNotesURL }}'>{{ with .Site.Params.download.upgradenotes }}{{ . | markdownify }}{{ end }}</a></h3>
      </div>
    </div>
    <div class="row">
      {{ range .Site.Data.software }}
        <div class="col-md-4 col-sm-6 btn-spacer ">
            <a href="{{ .uri }}" class="page-scroll btn btn-xl btn-wide text-left" style="color:white">
              <i class="fa fa-group fa-{{ .img | markdownify }} distro-graphic" ></i>
              <div>
                {{ if .isCompiled }}{{ $.Site.Params.download.download }}{{else}}{{ $.Site.Params.download.source }}{{ end }}
              </div>
              <div class="btn-small">{{ with .version}}{{ . | markdownify }}{{ end }}</div>
              <div class="btn-small">
                {{ if .isWindows }}{{ $.Site.Params.download.windows }}{{ end }}
                {{ if .isMac }}{{ $.Site.Params.download.mac }}{{ end }}
                {{ if .isLinux }}{{ $.Site.Params.download.linux }}{{ end }}
                {{ if .isAndroid }}{{ $.Site.Params.download.android }}<br />{{ $.Site.Params.download.blackberry }}{{ end }}
              </div>

            </a>
            <div>
              {{ with .gpg }}<a href="{{ . }}">{{ $.Site.Params.download.gpg }}</a>{{ end }}
              {{ with .bit32 }} | <a href="{{ . }}">32bit</a> | {{ end }}
              {{ with .bit64 }}<a href="{{ . }}">64bit</a>{{ end }}
              {{ with .armbit32 }} | <a href="{{ . }}">ARM 32bit</a> | {{ end }}
              {{ with .armbit64 }}<a href="{{ . }}">ARM 64bit</a>{{ end }}
              {{ with .gpgPublicKey }}<a href="{{ . }}">{{ $.Site.Params.download.pk }}</a>{{ end }}
              &nbsp;
            </div>


        </div>
      {{ end }}
    </div>
  </div>
</section>
