<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="{{ with .Site.Params.description }}{{ . }}{{ end }}">
<meta name="author" content="{{ with .Site.Params.name }}{{ . }}{{ end }}">
{{ .Hugo.Generator }}
<title>{{ .Site.Title }}</title>
{{ "<!-- Stylesheets -->" | safeHTML }}
<link href="{{ .Site.BaseURL }}css/bootstrap.min.css" rel="stylesheet">
<link href="{{ .Site.BaseURL }}css/style.css" rel="stylesheet">
{{ range .Site.Params.custom_css }}
  <link rel="stylesheet" href="{{ $.Site.BaseURL }}{{ . }}">
{{ end }}

{{ "<!-- Custom Fonts -->" | safeHTML }}
<link href="{{ .Site.BaseURL }}font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
{{ with not .Site.Params.disableFonts }}
  <link href="https://fonts.googleapis.com/css?family=Roboto:200,300,400" rel="stylesheet">

{{ end }}

 <link rel="shortcut icon" type="image/png" href="/img/harzcoin.png" />

{{ "<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->" | safeHTML }}
{{ "<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->" | safeHTML }}
{{ "<!--[if lt IE 9]>" | safeHTML }}
<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
{{ "<![endif]-->" | safeHTML }}
