{{ "<!-- Hero -->" | safeHTML }}
<header>
  {{  .Site.Params.footer.test }}
  <div class="container">
    <div class="intro-text">
      <div class="intro-heading">{{ with .Site.Params.hero.title }}{{ . | markdownify }}{{ end }}</div>
      <div class="intro-lead-in">{{ with .Site.Params.hero.subtitle }}{{ . | markdownify }}{{ end }}</div>
      <a href="#download" id="heroDownload" class="text-left page-scroll btn btn-hero btn-xl btn-spacer">

        <i class="fa fa-group  if-os-known distro-graphic " ></i>
        {{ with .Site.Params.download.download }}{{ . | markdownify }}{{ end }}
        <div class="btn-small detect"
          data-windows="{{$.Site.Data.software.aWindows.version}}<br /> {{ .Site.Params.download.windows }}"
          data-mac="{{$.Site.Data.software.bMac.version}}<br /> {{ .Site.Params.download.mac }}"
          data-linux="{{$.Site.Data.software.cLinux.version}}<br /> {{ .Site.Params.download.linux }}"
          data-android="{{$.Site.Data.software.dAndroid.version}}<br /> {{ .Site.Params.download.android }}"

          data-dl-windows="{{$.Site.Data.software.aWindows.uri}}"
          data-dl-mac="{{$.Site.Data.software.bMac.uri}}"
          data-dl-linux="{{$.Site.Data.software.cLinux.uri}}"
          data-dl-android="{{$.Site.Data.software.dAndroid.uri}}"
        ></div>
      </a>

      <p>
        <a href="#download" class="page-scroll heroGpg"
        data-dl-windows="{{$.Site.Data.software.aWindows.gpg}}"
        data-dl-mac="{{$.Site.Data.software.bMac.gpg}}"
        data-dl-linux="{{$.Site.Data.software.cLinux.gpg}}">{{ .Site.Params.download.gpg }}</a>
        |
        <a href="#download" class="page-scroll  ">{{ .Site.Params.download.versions }}</a>
      </p>
    </div>
  </div>
</header>
{{ "<!-- Services Section -->" | safeHTML }}
